{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "OHSOOL; 오늘의 술",
    "description": "당신을 위한 오늘의 맥주."
  },
  "host": "ohsool.shop",
  "basePath": "/api",
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Bearer <Token> 을 입력해주세요."
    },
    "secretKey": {
      "type": "apiKey",
      "name": "secretKey",
      "in": "header",
      "description": "secretKey"
    }
  },
  "security": [{
    "Bearer": [],
    "secretKey": []
  }], 
  "tags": [
    {
      "name": "USER",
      "description": ""
    },
    {
      "name": "BEER",
      "description": ""
    },
    {
      "name": "MY BEER",
      "description": ""
    },
    {
      "name": "BEER CATEGORY",
      "description": ""
    },
    {
      "name": "SEARCH",
      "description": ""
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
   "/beer/list/all": {
      "get": {
        "tags": ["BEER"],
        "description": "전체 맥주 리스트 가져오기",
        "parameters": [],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/beer/list/all/page": {
      "get": {
        "tags": ["BEER"],
        "description": "맥주 페이지별 리스트 출력하기",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "type": "number",
            "example": 0
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "example": "rate"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/list": {
      "post": {
        "tags": ["BEER"],
        "description": "맥주 추가하기",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name_korean": {
                  "type": "String",
                  "example": "beer name"
                },
                "name_english": {
                  "type": "String",
                  "example": "beer name"
                },
                "image": {
                  "type": "String",
                  "example": "beer image"
                },
                "degree": {
                  "type": "number",
                  "example": "beer 도수"
                },
                "country": {
                  "type": "string",
                  "example": "beer 원산지"
                },
                "isDistant": {
                  "type": "boolean",
                  "example": "true",
                  "description": "장거리: true, 단거리: false"
                },
                "categoryId": {
                  "type": "mongoose.Types.ObjectId",
                  "example": "61205555223b033dac9f1fa0"
                },
                "hashtag": {
                  "type": "array",
                  "example": "[]"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/list/{beerId}": {
      "get": {
        "tags": ["BEER"],
        "description": "특정 맥주 상세보기",
        "parameters": [
          {
            "name": "beerId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": "61233daac692c84e5cc4d151"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      },
      "delete": {
        "tags": ["BEER"],
        "description": "특정 맥주 삭제하기",
        "parameters": [
          {
            "name": "beerId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": ""
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/beer/like/{beerId}": {
      "put": {
        "tags": ["BEER"],
        "description": "특정 맥주 좋아요",
        "parameters": [
          {
            "name": "beerId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": "61233daac692c84e5cc4d151"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/beer/unlike/{beerId}": {
      "put": {
        "tags": ["BEER"],
        "description": "특정 맥주 좋아요 취소",
        "parameters": [
          {
            "name": "beerId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": "61233daac692c84e5cc4d151"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/beer/liked": {
      "get": {
        "tags": ["BEER"],
        "description": "",
        "parameters": [],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/beer/report-location": {
      "post": {
        "tags": ["BEER"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "beerId": {
                  "type": "mongoose.Types.ObjectId",
                  "example": "61233daac692c84e5cc4d151"
                },
                "name": {
                  "type": "string",
                  "example": "우리집"
                },
                "address": {
                  "type": "string",
                  "example": "우리집"
                },
                "url": {
                  "type": "string",
                  "example": ""
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/beer/categorylist": {
      "get": {
        "tags": ["BEER"],
        "description": "",
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "type": "mongoose.Types.ObjectId",
            "example": "61205556223b033dac9f1fa2"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "number",
            "example": 0
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "example": "rate"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/beer/features/all": {
      "post": {
        "tags": ["BEER"],
        "description": "",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/beer/features/{beerId}": {
      "post": {
        "tags": ["BEER"],
        "description": "",
        "parameters": [
          {
            "name": "beerId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": "61233daac692c84e5cc4d151"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/beerCategory/": {
      "post": {
        "tags": ["BEER CATEGORY"],
        "description": "비어 카테고리 등록",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "test@test.com"
                },
                "nickname": {
                  "type": "string",
                  "example": "닉네임"
                },
                "password": {
                  "type": "string",
                  "example": "password"
                },
                "confirmPassword": {
                  "type": "string",
                  "example": "password"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        }
      },
      "delete": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/beerCategory/preferencecount": {
      "get": {
        "tags": ["BEER CATEGORY"],
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/beerCategory/{beerCategoryId}": {
      "get": {
        "tags": ["BEER CATEGORY"],
        "description": "",
        "parameters": [
          {
            "name": "beerCategoryId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/beerCategory/result": {
      "post": {
        "tags": ["BEER CATEGORY"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/myBeer/{beerId}": {
      "post": {
        "tags": ["MY BEER"],
        "description": "",
        "parameters": [
          {
            "name": "beerId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": "61233daac692c84e5cc4d151"
          },
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "myFeatures": {
                  "type": "array",
                  "example": {
                    "bitter": 2, 
                    "crispy": 4, 
                    "flavor": 5, 
                    "sweet": 3, 
                    "nutty": 5
                  }
                },
                "location": {
                  "type": "string",
                  "example": "우리집"
                },
                "rate": {
                  "type": "number",
                  "example": 3
                },
                "review": {
                  "type": "string",
                  "example": "마싯따!"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/complaint/feedback": {
      "post": {
        "tags": ["COMPLAINT"],
        "description": "슬랙으로 불편사항 보내기",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "complaintId": {
                  "example": "any"
                },
                "feedback": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/myBeer/all": {
      "get": {
        "tags": ["MY BEER"],
        "description": "",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "example": "rate"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "number",
            "example": 0
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/myBeer/my": {
      "get": {
        "tags": ["MY BEER"],
        "description": "",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "example": "rate"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "number",
            "example": 0
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/myBeer/others/{userId}": {
      "get": {
        "tags": ["MY BEER"],
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": "610e0d6e25c88b798668a937"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "description": "rate, like_count, date",
            "example": "rate"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "number",
            "example": 0
          },
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "description": "beer 또는 liked",
            "example": "beer"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/myBeer/length/{userId}": {
      "get": {
        "tags": ["MY BEER"],
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": "610e0d6e25c88b798668a937"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/myBeer/beer": {
      "get": {
        "tags": ["MY BEER"],
        "description": "",
        "parameters": [
          {
            "name": "beerId",
            "in": "query",
            "type": "mongoose.Types.ObjectId",
            "example": "61233daac692c84e5cc4d151"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "description": "rate, like_count, date",
            "example": "rate"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "number",
            "example": 0
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/myBeer/{myBeerId}": {
      "get": {
        "tags": ["MY BEER"],
        "description": "",
        "parameters": [
          {
            "name": "myBeerId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId",
            "example": "612609dab00c5b2a06257254"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      },
      "put": {
        "tags": ["MY BEER"],
        "description": "",
        "parameters": [
          {
            "name": "myBeerId",
            "in": "path",
            "required": true,
            "type": "string",
            "example": "612609dab00c5b2a06257254"
          },
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "myFeatures": {
                  "type": "array",
                  "example": {
                    "bitter": 2, 
                    "crispy": 4, 
                    "flavor": 5, 
                    "sweet": 3, 
                    "nutty": 5
                  }
                },
                "location": {
                  "type": "string",
                  "example": "경기"
                },
                "rate": {
                  "type": "number",
                  "example": 3
                },
                "review": {
                  "type": "string",
                  "example": "옿키 낫배드"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      },
      "delete": {
        "tags": ["MY BEER"],
        "description": "맥주도감 삭제!",
        "parameters": [
          {
            "name": "myBeerId",
            "in": "path",
            "required": true,
            "type": "string",
            "example": ""
            
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/myBeer/like/{myBeerId}": {
      "put": {
        "tags": ["MY BEER"],
        "description": "맥주도감 좋아요",
        "parameters": [
          {
            "name": "myBeerId",
            "in": "path",
            "required": true,
            "type": "string",
            "example": "612609dab00c5b2a06257254"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/myBeer/unlike/{myBeerId}": {
      "put": {
        "tags": ["MY BEER"],
        "description": "맥주 도감 좋아요 해제",
        "parameters": [
          {
            "name": "myBeerId",
            "in": "path",
            "required": true,
            "type": "string",
            "example": "612609dab00c5b2a06257254"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/recommendation/feedback/success": {
      "post": {
        "tags": ["RECOMMENDATION"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "recommendationId": {
                  "example": "any"
                },
                "beerId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/search/deep": {
      "get": {
        "tags": ["SEARCH"],
        "description": "검색하기",
        "parameters": [
          {
            "name": "word",
            "in": "query",
            "type": "string"
          },
          {
            "name": "hashtag",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/search/hashtag": {
      "get": {
        "tags": ["SEARCH"],
        "description": "해시태그 검색",
        "parameters": [
          {
            "name": "hashtag",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/user/email": {
      "post": {
        "tags": ["USER"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "ohsool.info@gmail.com"
                }
              }
            }
          }
        ],
        "responses": {
          "205": {
            "description": "Reset Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/user/nickname": {
      "post": {
        "tags": ["USER"],
        "description": "중복 닉네임 확인",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "type": "string",
                  "example": "admin"
                }
              }
            }
          }
        ],
        "responses": {
          "205": {
            "description": "Reset Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": ["USER"],
        "description": "닉네임 변경",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "type": "string",
                  "example": "변경된 닉네임"
                }
              }
            }
          }
        ],
        "responses": {
          "205": {
            "description": "Reset Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/auth": {
      "post": {
        "tags": ["USER"],
        "description": "로그인",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "example@gnail.com"
                },
                "password": {
                  "type": "string",
                  "example": "testPassword"
                }
              }
            }
          }
        ],
        "responses": {
          "205": {
            "description": "Reset Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "tags": ["USER"],
        "description": "로그아웃",
        "parameters": [],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "tags": ["USER"],
        "description": "유저의 로그인 유무 확인",
        "parameters": [],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/google": {
      "get": {
        "tags": ["USER"],
        "description": "구글 로그인",
        "parameters": [],
        "responses": {}
      }
    },
    "/user/google/callback": {
      "get": {
        "tags": ["USER"],
        "description": "구글 로그인",
        "parameters": [],
        "responses": {}
      }
    },
    "/user/kakao": {
      "get": {
        "tags": ["USER"],
        "description": "카카오 로그인",
        "parameters": [],
        "responses": {}
      }
    },
    "/user/kakao/callback": {
      "get": {
        "tags": ["USER"],
        "description": "카카오 로그인",
        "parameters": [],
        "responses": {}
      }
    },
    "/user/test": {
      "post": {
        "tags": ["USER"],
        "description": "현재 유저 preference에 테스트 결과 값 반영 & 클라이언트에게 결과에 대한 정보 돌려주기",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "mongoose.Types.ObjectId",
                  "example": "any"
                },
                "result": {
                  "type": "string",
                  "example": "lager"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/user/socialuser": {
      "post": {
        "tags": ["USER"],
        "description": "첫 소셜 로그인 시 닉네임, 이메일이 중복될 수 있으므로 새로 받기",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "중복되지않는 이메일"
                },
                "nickname": {
                  "type": "string",
                  "example": "중복되지 않는 닉네임"
                }
              }
            }
          }
        ],
        "responses": {
          "205": {
            "description": "Reset Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/user-info/{userId}": {
      "get": {
        "tags": ["USER"],
        "description": "유저 정보 가져오기",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "type": "mongoose.Types.ObjectId",
            "required": true
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/user/description": {
      "put": {
        "tags": ["USER"],
        "description": "상태명 변경",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/password/reset": {
      "put": {
        "tags": ["USER"],
        "description": "비밀번호 초기화",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type":"string",
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    },
    "/user/password": {
      "put": {
        "tags": ["USER"],
        "description": "비밀번호 변경",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "password": {
                  "type": "string",
                  "example": "beforePW"
                },
                "new_password": {
                  "type": "string",
                  "example": "afterPW"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/public/public": {
      "put": {
        "tags": ["USER"],
        "description": "맥주도감 공개로 설정",
        "parameters": [],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/public/private": {
      "put": {
        "tags": ["USER"],
        "description": "맥주도감 비공개로 변경",
        "parameters": [],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/follow/follow": {
      "put": {
        "tags": ["USER"],
        "description": "특정 유저 팔로우하기",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "example": "any",
                  "type": "mongoose.Types.ObjectId"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/follow/unfollow": {
      "put": {
        "tags": ["USER"],
        "description": "특정 유저 팔로우 취소",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "example": "any",
                  "type": "mongoose.Types.ObjectId"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "418": {
            "description": "I'm a teapot"
          }
        }
      }
    },
    "/user/follow/followers/{userId}": {
      "get": {
        "tags": ["USER"],
        "description": "특정 유저의 팔로우, 팔로워 리스트 보여주기",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "mongoose.Types.ObjectId"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "Not Acceptable"
          }
        }
      }
    }
  },
  "definitions": {}
}